<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contact</title>
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
</head>

<body class="PosRela">
<main class="loginWallpaper PosRela">
    <div class="loginRgba">

        <p><h2 class="txtCenter contactTitle">Nous contacter</h2></p>

        <div class="displayCenter ">

            <div class="txtCenter contactMargin">
                <img class="loginImgContact" src="{{ asset('asset/img/logoCCieRose.png') }}">
                <div>
                    <img class="loginImgContactSize" src="{{ asset('asset/img/phone.png') }}">
                    <p>06 58 84 30 60</p>
                </div>
                <div>
                    <img class="loginImgContactSize" src="{{ asset('asset/img/logoWeb.png') }}">
                    <p><a href="http://cils-et-compagnie.fr/">cils-et-compagnie.fr</a></p>
                </div>
                <div>
                    <img class="loginImgContactSize" src="{{ asset('asset/img/logoFacebook.png') }}">
                    <p><a href="https://fr-fr.facebook.com/CilsandCo">cils & Cie</a></p>
                </div>
                <div>
                    <img class="loginImgContactSize" src="{{ asset('asset/img/instagram.png') }}">
                    <p><a href="https://www.instagram.com/cils_et_cie_/">cils_et_cie_</a></p>
                </div>
            </div>

            <div class="txtCenter contactMargin">
                <img class="loginImgContact" src="{{ asset('asset/img/logoLJDP.png') }}">
                <div>
                    <img class="loginImgContactSize" src="{{ asset('asset/img/phone.png') }}">
                    <p>06 47 32 92 83</p>
                </div>
                <div>
                    <img class="loginImgContactSize" src="{{ asset('asset/img/logoWeb.png') }}">
                    <p><a href="https://lejardindeprune.fr/">lejardindeprune.fr</a></p>
                </div>
                <div>
                    <img class="loginImgContactSize" src="{{ asset('asset/img/logoFacebook.png') }}">
                    <p><a href="https://www.facebook.com/lejardindeprune/">Le Jardin de Prune</a></p>
                </div>
                <div>
                    <img class="loginImgContactSize" src="{{ asset('asset/img/instagram.png') }}">
                    <p><a href="">lejardindeprune</a></p>
                </div>
            </div>

        </div>
        <div class="txtCenter">
            <a class="loginLien" href="{{ path('loginAccueil') }}">Retour</a>
        </div>

    </div>
</main>

</body>

</html>