{% extends 'base.html.twig' %}
{% block title %}IntraInstitut - Produits{% endblock %}
{% block body %}
    {% include 'commons/_header.html.twig' %}

    <main>
        <div class="sticky displayBetween">
            <form action="{{ path('get_product_by_ref_or_by_name') }}" method="get" class="marginSticky">
                {#value ( elle concerve le champ deja inscrit grace au get )
                 value = dans le site / dans la request/ dans le query / va chercher le get description#}
                <input type="text" name="ref" placeholder="Par référence"
                       value="{{ app.request.query.get('ref') }}">
                <input type="text" name="name" placeholder="Par nom"
                       value="{{ app.request.query.get('name') }}">
                <input type="submit" value="rechercher">
            </form>
            <div class="marginSticky zIndex">
                <a href="{{ path('product_insert') }}" class="loginLienSticky txtCenter" >Ajouter un produit</a>
            </div>
        </div>

        <div class="galerieDisposition">

            {% for article in product %}
                <div class="PosRela">
                    <h6 class="txtCenter">{{ article.name }}</h6>
                    <p class="txtCenter"> ref:{{ article.ref }}</p>
                    <img class="photoSizeGalerie" alt="{{ article.galerie.alt }}" src="{{ asset('asset/galerie/' ~ article.galerie.img) }}">
                    <a href="{{ path('product_show_id', {'id' : article.id}) }}" class="PosAbso galerieLien aEffecaer">Voir</a>
                </div>
            {% endfor %}
        </div>
    </main>

    {% include 'commons/_footer.html.twig' %}
{% endblock %}