<header class="PosRela headerImg">
    <div class="headerRgba">
        <div class="displayBetween">
            <div class="displayStart">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a class="aheader" href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a class="aheader" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
                <a class="aheader" href="{{ path('fos_user_profile_show') }}" >Mon profil</a>
            </div>
            {% if is_granted("ROLE_ADMIN") %}
                <div class="displayEnd">
                    <a class="aheader" href="{{ path('page_admin') }}">Ma page admin</a>
                </div>
            {% endif %}
        </div>

        <div class="displayCenter headerPlacement">
            <img class="headerLogo" src="{{ asset('asset/img/logoLJDP.png') }}" alt="logo le jardin de prune">
            <img class="headerLogo" src="{{ asset('asset/img/logoCCie.png') }}" alt="logo cils and cie">
        </div>

        <div class="txtCenter headerLien displaySpace bandeRose">
            <a class="aheader" href="{{ path('accueil') }}">Accueil</a>
            <a class="aheader" href="{{ path('galerie') }}">Galerie d'images</a>
            <a class="aheader" href="">Event & Opé</a>
            <a class="aheader" href="">Chiffres</a>
            <a class="aheader" href="">Protocoles</a>
            <a class="aheader" href="{{ path('product') }}">Produits</a>
            <a class="aheader" href="">Commandes</a>
        </div>

    </div>
</header>